<h4 class="center-align section titulo">NEW ARTICLE</h4>
<div class="container section row" style="margin-left: 30rem">
    <form class="col s12" autocomplete="off">
      <div class="row">
        <div class="input-field col s6">
          <input id="descripcion" type="text" class="validate" name="descripcion" [(ngModel)]="article.descripcion">
          <label for="descripcion">Description</label>
        </div>
      </div>
      <div class="row">
        <!-- <div class="input-field col s3">
          <input id="precio_unitario" type="text" class="validate" name="precio_unitario" [(ngModel)]="article.proveedores[0].proveedores_articulos.precio_unitario">
          <label for="precio_unitario">Purchase price ($)</label>
        </div> -->
        <div class="input-field col s3">
            <input id="precio_unitario_venta" type="text" class="validate" name="precio" [(ngModel)]="article.precio">
            <label for="precio_unitario_venta">Sale price ($)</label>
        </div>
      </div>

      <!-- <div class="row">
        <div class="input-field col s3">
            <input id="stock" type="text" class="validate" name="cantidad" [(ngModel)]="article.proveedores[0].proveedores_articulos.cantidad">
            <label for="stock">Amount</label>
        </div>
      </div>
      <div class="row">
          <mat-form-field class="col s6">
            <mat-label>Supplier</mat-label>
            <mat-select [(ngModel)]="article.proveedores[0].id_proveedor" name="id_proveedor">
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id_proveedor">
                {{supplier.cuit }} - {{ supplier.razon_social}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div> -->

      <button (click)="addArticle()" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>