<h5 class="center-align section">NEW ARTICLE</h5>
<div class="container section row" style="margin-left: 30rem">
    <form class="col s12" autocomplete="off">
      <div class="row">
        <div class="input-field col s6">
          <input id="descripcion" type="text" class="validate">
          <label for="descripcion">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="precio_unitario" type="text" class="validate">
          <label for="precio_unitario">Price per unit ($)</label>
        </div>
        <div class="input-field col s3">
            <input id="cantidad" type="text" class="validate">
            <label for="cantidad">Amount</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input disabled id="proveedor" type="text" class="validate">
          <label class="active" for="proveedor">Supplier</label>
        </div>
        <a class="waves-effect waves-light btn-small">+ Add supplier</a>
      </div>
    </form>
  </div>