<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 w-100">
    <a class="navbar-brand title" routerLink="/" (click)="cerrarNavMobile()">Servicios Ya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" href="#" (click)="cerrarNavMobile()"><i class="fas fa-home"></i>
                    Inicio</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <ng-container *ngIf="authService.loggedIn()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ localStorage.getItem("nombreUsuario") }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/perfil" (click)="cerrarNavMobile()"><i
                                class="fas fa-id-card"></i>
                            Perfil</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#cambiarClavePopup"
                            (click)="cerrarNavMobile()"><i class="fas fa-key"></i>
                            Cambiar Clave</a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item cerrar-sesion" (click)="authService.logout()"
                            (click)="cerrarNavMobile()"><i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión</button>
                    </div>
                </li>
            </ng-container>
            <ng-container *ngIf="!authService.loggedIn()">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#signUpPopup" href="#"
                        (click)="cerrarNavMobile()"><i class="fas fa-user-plus"></i> Crear Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#signInPopup" href="#"
                        (click)="cerrarNavMobile()"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>

<ng-container *ngIf="authService.loggedIn()">
    <app-cambiar-clave></app-cambiar-clave>
</ng-container>

<ng-container *ngIf="!authService.loggedIn()">
    <app-signup></app-signup>
    <app-signin></app-signin>
</ng-container>