<div class="container">
    <mat-horizontal-stepper #stepper [linear]="true">
        <mat-step>
            <!-- items en el carrito -->
            <ng-template matStepLabel>Carrito</ng-template>
            <app-carrito-items [stepper]="stepper"></app-carrito-items>
        </mat-step>

        <mat-step *ngIf="itemsOnCart()">
            <!-- Confirmar Compra -->
            <ng-template matStepLabel>Confirmar</ng-template>
            <app-carrito-confirm [stepper]="stepper"></app-carrito-confirm>
        </mat-step>

        <mat-step *ngIf="itemsOnCart()" [stepControl]="falseFormGroup">
            <!-- Compra finalizada -->
            <ng-template matStepLabel>Listo</ng-template>
            <h2>Listo</h2>
        </mat-step>
    </mat-horizontal-stepper>
</div>