<div class="container">
    <!-- Solo se muestra si hay elementos en el carrito -->
    <div *ngIf="this.list.length > 0">
        <h4>Carrito:</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="hide-on-small">Descripción</th>
                    <th class="hide-on-tiny">Precio unitario</th>
                    <th class="center">Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            <tbody>
                <!-- para todos los productos de la lista-->
                <tr *ngFor="let producto of list">
                    <td class="nombre">
                        <p class="max-4-lines">{{producto.nombre}}</p>
                    </td>
                    <td class="hide-on-small justified">
                        <p class="max-4-lines">{{producto.descripcion}}</p>
                    </td>
                    <td class="hide-on-tiny">${{producto.precio}}</td>
                    <td>
                        <div class="unselectable ">
                            <p class="cantidad">{{producto.cantComprar}}</p>
                            <div class="flechas center">
                                <i class="material-icons" (click)="add(producto)">add_circle</i>
                                <i class="material-icons" (click)="remove(producto)">remove_circle</i>
                            </div>
                        </div>
                    </td>
                    <td class="subtotal">$ {{producto.precio * producto.cantComprar}}</td>
                    <td class="unselectable"> <i class="material-icons delete"
                            (click)="delete(producto)">delete_forever</i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="botton-table" >

            <div class="onRight">
                <p class="txt-comision">Seleccione el método de envio de los productos</p>
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="IdComisionistaSeleccionado">
                        <mat-option *ngFor="let c of comisionistas" value="{{c._id}}"><b> {{c.nombre}}</b> -
                            ${{c.precio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <div class="total-price">
            <h5>Total: ${{precioFinal()}}</h5>
        </div>
    </div>

    <!-- si no hay elementos en el carrito se muestra esto-->
    <div class="big-msg-container" *ngIf="this.list.length <=0">
        <h3 class="big-msg-text">¡No hay items en el carrito!</h3>

        <i class="fa fa-shopping-cart center fa-5x" style="color: white;"></i>

        <div>
            <h6 class="big-msg-text"> ¡Ve a la seccion de productos y elige lo que deseas comprar!</h6>
            <div class="center">
                <button [routerLink]="[rubros]" class="waves-effect waves-light btn-large deep-purple">
                    <i class="material-icons right">view_module</i>
                    Ver productos disponibles
                </button>
            </div>
        </div>


    </div>
</div>