.container {
  min-height: 70vh;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cantidad {
  text-align: center;
}
.material-icons:hover {
  cursor: pointer;
}
.delete {
  font-size: 2.5rem;
}
.nombre {
  font-weight: bold;
  font-size: medium;
  min-width: 150px;
}
.big-msg-container {
  background: rgb(28, 35, 49);
  background: linear-gradient(
    16deg,
    rgba(28, 35, 49, 1) 17%,
    rgba(75, 28, 102, 1) 92%
  );
  min-height: 400px;
  margin: 50px 0 0 0;
  padding: 20px;
  border-radius: 30px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.big-msg-text {
  text-align: center;
  color: whitesmoke;
}

.final-div {
  float: right;
}

.txt-comision {
  display: inline;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
.total-price {
  font-size: xx-large;
  float: right;
  padding: 7px 10px 3px 10px;

  border-radius: 5px;
  background-color: #43e774;
}

@media only screen and (max-width: 680px) {
  .hide-on-small {
    display: none;
  }
  .nombre {
    min-width: none;
  }
}

@media only screen and (max-width: 435px) {
  .container {
    width: 100%;
  }
  .hide-on-tiny {
    display: none;
  }
  .nombre {
    font-size: x-small;
  }
  .cantidad {
    font-size: small;
  }
  .subtotal {
    font-size: smaller;
  }
  .material-icons {
    font-size: 25px;
  }
}
