<div class="container">
    <div class="login-card">

        <form [formGroup]="loginForm">
            <div class="row">
                <label>Usuario</label>
                <div class="login-input">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <input type="text" formControlName="username">
                </div>
            </div>

            <div class="row">
                <label>Contraseña</label>
                <div class="login-input">
                    <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                    <input type="password" formControlName="pass">
                </div>
                <em *ngIf="this.loginForm.controls.pass.touched && this.loginForm.controls.pass.invalid">* Debe contener al menos 6 caracteres.</em>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light purple" (click)="login()">
                    Login
                </button>
                <button class="btn waves-effect waves-light purple" routerLink="/register">
                    Crear cuenta
                </button>
            </div>         
        </form>
    </div>
</div>