.container{
  min-height: 700px;
}
.login-card {
  background: rgb(22, 26, 66);
  background: linear-gradient(
    90deg,
    rgba(22, 26, 66, 1) 34%,
    rgba(103, 58, 183, 1) 100%
  );

  padding: 10% 10%;
  margin: 100px 0px;
  border-radius: 20px;
}

.login-card label {
  color: white;
  font-size: larger;
  padding: 0 0 0 75px ;
}
.login-card input {
  color: black;
  background-color: whitesmoke;

  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.login-card button {
  float: right;
  margin: 5px;
}

.login-input {
  display: flex;
}

.fa {
  padding-right: 20px;
  color: white;
  width: 80px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  padding: 0px !important;
  background-color: whitesmoke;
  height: 53px;
  width: 100%;
}

.row{
  margin: 0 0 5px 0;
}

.buttons{
  padding: 20px 0 0 0;
}

em{
  color: yellow;
  padding: 0 0 0 80px;
}