<div class="container">
    <div class="login-card">

        <div class="row">
            <label>Usuario</label>
            <div class="login-input">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                <input type="text">
            </div>
        </div>


        <div class="row">
            <label>Contraseña</label>
            <div class="login-input">
                <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                <input type="password">
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light purple">
                Login
            </button>
            <button class="btn waves-effect waves-light purple">
                Crear cuenta
            </button>
        </div>

    </div>
</div>