.container{
    min-height: 750px;
}

.big-msg-container {
    background: rgb(28, 35, 49);
    background: linear-gradient(
      16deg,
      rgba(28, 35, 49, 1) 17%,
      rgba(75, 28, 102, 1) 92%
    );
    min-height: 400px;
    margin: 50px 0 0 0;
    padding: 20px;
    border-radius: 30px;
  
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .big-msg-text {
    text-align: center;
    color: whitesmoke;
  }

  @media only screen and (max-width: 680px) {
    .hide-on-small {
      display: none;
    }
    .nombre {
      min-width: none;
    }
  }
  
  @media only screen and (max-width: 435px) {
    .container {
      width: 100%;
    }
    .hide-on-tiny {
      display: none;
    }
    .nombre {
      font-size: x-small;
    }
    .cantidad {
      font-size: small;
    }
    .subtotal {
      font-size: smaller;
    }
    .material-icons {
      font-size: 25px;
    }
  }
  