$main-color: #673ab7;
.logo{
  height: 100%;
  width: 170px;

  background-image: url(../../images/utnLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.logo:hover{
  cursor: pointer;
  background-color: #5C34A4;
}
.right{
  max-height: 64px;
}
.nav-wrapper {
  background-color: $main-color;
  display: block;
  text-align: center;
  min-height: 64px;

  //Esto es para que no se puedan seleccionar los textos del nav.
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
.search {
  transform: translate(20px, 0px);
  width: 300px;
}
.search input {
  text-align: left;
  color: white;
}
.carrito {
  padding-right: 40px;
}

.chip {
  transform: translate(45px, -53px);
  width: max-content;
  text-align: center;
  font-size: small;

  pointer-events: none;
}
.dropdown-content {
  transform: translate(50px, -60px);
  width: fit-content !important;
}
.dropdown-content * {
  color: $main-color;
}
.dropdown-content a {
  width: 100%;
}

// para movile.
@media only screen and (max-width: 845px) {
  .search {
    width: 85%;
    float: left;
    color: black;
  }
  a {
    font-size: 0px;
  }
  i {
    margin-left: 0;
  }
  .chip {
    transform: translate(13px, -53px);
  }
  .dropdown-content {
    transform: translate(-40px, -60px);
  }
}
@media only screen and (max-width: 577px) {
  .logo{
    display: none;
  }
}

//para celulares muy chicos.
@media only screen and (max-width: 380px) {
  .search {
    left: 0;
    width: 100px;
    padding-right: 20px;
  }
  .search input {
    width: 100%;
    float: left;
  }
  .nav-wrapper{
    min-height: 0;
  }
}
