<nav>
    <div class="nav-wrapper">

        <div [routerLink]="['rubros']"class="left logo"></div>
        <ul class="right">
            <!-- boton de busqueda-->
            <li>
                <div class="search">
                    <input #input type="text" placeholder={{nav_string}} (keyup.enter)="search(input)">
                </div>
            </li>
            <li (click)="search(input)"><a><i class="material-icons right">search</i></a></li>
            <!-- boton mi perfil -->
            <li>
                <a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">person</i>Mi
                    perfil</a>
            </li>
            <!-- boton carrito-->
            <li>
                <a><i class="material-icons right carrito">shopping_cart</i>Carrito</a>
                <div class="chip">
                    {{lista.length}}
                </div>
            </li>
        </ul>
    </div>

</nav>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a [routerLink]="['/rubros/profile']"><i class="material-icons">edit</i>Editar perfil</a></li>
    <li><a href="#!"><i class="material-icons">add_circle_outline</i>cargar nuevo producto</a></li>
</ul>