<div class="container">
  <div class="decoradorArriba">
    <img class="avatar" src={{obtenerImagenUsuario()}}
      obtenerImagenUsuario alt="Mountain">

    <div class="info">
      <h4 class="truncate title">DATO</h4>

      <h4 class="truncate extra contact">Dirección: </h4>
      <h4 class="truncate extra">DATO: </h4>
      <h4 class="truncate extra contact">Contacto: </h4>
      <h4 class="truncate extra">DATO: </h4>
      <h4 class="truncate extra">DATO: </h4>
    </div>

  </div>

  <div class="datos-personales">

    <input type="file" accept="image/*" (change)="onFileSelected($event)">
    <button (click)="subirImagen(url_imagen)">Subir imagen</button>
  </div>

</div>