.decoradorArriba {
  width: 100%;
  height: 200px;
  
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 10px;

  //Gradiente sacado de internet.
  //fuente: https://www.cssmatic.com/es/gradient-generator
  background: #93dba1;
  background: -moz-linear-gradient(left, #93dba1 0%, #75bdd1 59%, #4aa6bf 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #93dba1), color-stop(59%, #75bdd1), color-stop(100%, #4aa6bf));
  background: -webkit-linear-gradient(left, #93dba1 0%, #75bdd1 59%, #4aa6bf 100%);
  background: -o-linear-gradient(left, #93dba1 0%, #75bdd1 59%, #4aa6bf 100%);
  background: -ms-linear-gradient(left, #93dba1 0%, #75bdd1 59%, #4aa6bf 100%);
  background: linear-gradient(to right, #93dba1 0%, #75bdd1 59%, #4aa6bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93dba1', endColorstr='#4aa6bf', GradientType=1 );
}
.info{
  display: block;
  width: 100%  
}
.info h4{
  margin: 2px;
  color: #F0F0F0;
}

.avatar {
  
  float: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(218, 217, 217);
  border-radius: 50%;

  height: 200px;
  width: 200px;

  margin-right: 20px;
  transform: translate(-5px);
}

.datos-personales{
  padding: 40px 0 0 0;
  margin: 0 0 270px 0;

}

.title{
  padding-top: 20px;
  
}
.extra{
  font-size: large;
}
.contact{
  padding-top: 10px;
}
.label-img{
  font-size: smaller;
  transform: translate(-5px, -16px);
}
// ---------------- formulario ------------------ //
.datos-personales{
  height: 600px;
}

.buttons{
  float: right;
}
.buttons button{
margin: 3px;
}
mat-form-field{
  width: 100%;
  transform: translate(0px, -10px);
  margin: 0px;
}

//movil pequeño
@media only screen and (max-width: 600px) {
  .info{
    display: none;
  }
  .avatar{
    float: none;
  }
  .decoradorArriba{
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
}