<div class="container">
  <div class="decoradorArriba">
    <img class="avatar" src={{storagedUser.url}} obtenerImagenUsuario alt="Mountain">

    <div class="info">
      <h4 class="truncate title">{{storagedUser.nombre}}</h4>
      <h4 class="truncate extra contact">Usuario: {{storagedUser.usuario}} </h4>
      <h4 class="truncate extra">Localidad: {{storagedUser.localidad}} </h4>
      <h4 class="truncate extra contact">Dirección: {{storagedUser.direccion}} </h4>
      <h4 class="truncate extra">Cuil/Cuit: {{storagedUser.cuil}} </h4>
      <h4 class="truncate extra">Tipo: {{storagedUser.tipo}} </h4>
    </div>

  </div>



  <!-- Login Main Form-->
  <div class="datos-personales">
    <div class="row">
      <form class="col s12" [formGroup]="mainForm">

        <div class="row">
          <div class="input-field col s6">
            <label>Usuario</label>
            <input value="Usuario" type="text" class="validate" formControlName="usuario">
          </div>

          <div class="input-field col s6">
            <label>Nombre</label>
            <input type="text" class="validate" placeholder="Nombre" formControlName="nombre">
          </div> 
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input type="password" class="validate" placeholder="Contraseña" formControlName="pass">
          </div>
          <div class="input-field col s6">
            <input class="validate" type="password" placeholder="Repetir Contraseña" formControlName="pass_repeat">
          </div>
        </div>
        <div class="row">
          <div class=" col s12">
            <label>Dirección de correo</label>
            <input
              [ngClass]="{'valid': this.mainForm.controls.mail.valid, 'invalid': this.mainForm.controls.mail.invalid}"
              type="text" placeholder="Dirección de correo" formControlName="mail">
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <mat-form-field appearance="fill">
              <mat-select [(value)]="tipoUsuario">
                <mat-option value="particular">Particular</mat-option>
                <mat-option value="empresa">Empresa</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="input-field col s6">
            <input class="validate" placeholder="CUIL-CUIT" formControlName="cuil">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <label>Localidad</label>
            <input type="text" class="validate" placeholder="Localidad" formControlName="localidad">
          </div>
          <div class="input-field col s6">
            <label>Dirección</label>
            <input class="validate" type="text" placeholder="Dirección" formControlName="direccion">
          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <label>Teléfono</label>
            <input type="text" class="validate" placeholder="Teléfono" formControlName="telefono">
          </div>
          <div class="input-field col s6">
            <label class="label-img">Cambiar imagen de perfil</label> <br>
            <input type="file" accept="image/*" (change)="onFileSelected($event)">
          </div>
        </div>

        <div class="buttons">
          <button class="waves-effect waves-light btn grey lighten-1" (click)="patchStoragedUser()">Cancelar</button>
          <button class="waves-effect waves-light btn purple" (click)="editUser()"
            [disabled]='!mainForm.valid'>Editar</button>
        </div>

      </form>
    </div>
  </div>