.planilla {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.titulo {
    text-decoration: underline;
    font-weight: bold;
}

.etiqueta {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.contenido {
    font-size: 1rem;
    font-size: 2em;
    text-shadow: 1px 1px;
}