<!-- Main Title -->
<div class="row">
    <h1 class="text-center" style="color: black;">¡Servicios particulares on-demand!</h1>
</div>

<!-- CTA View -->
<div class="row justify-content-around">

    <div class="col-5">
        <div class="card" style="background-color: bisque;">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <img class="card-img-top" src="../../../assets/hammer.png">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Quiero contratar</h4>
                    <p class="card-text">¡Buscá la persona indicada para resolver tus problemas!</p>
                    <button type="button" class="btn btn-outline-primary" (click)="goToServicios()">Contratar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card" style="background-color: azure;">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <img class="card-img-top" src="../../../assets/hammer.png">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Quiero prestar un servicio</h4>
                    <p class="card-text">¡Adheríte a la comunidad y comenzá a ganar dinero por tus servicios!</p>
                    <button type="button" class="btn btn-outline-primary" (click)="publicarServicio()">Prestar Servicio</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- What we do -->
<div class="row justify-content-center hrSeparation">
    <div class="col-sm-6">
        <h3 class="title1">¿A qué nos dedicamos?</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-8 text-center">
        <h5>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor,
            quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo.
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="row d-flex textDiv">
            <h6>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor,
                quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo.</h6>
        </div>
        <div class="row d-flex textDiv">
            <h6>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor,
                quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo.</h6>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2 d-flex">
        <img class="card-img-top" src="../../../assets/hammer.png">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="row d-flex textDiv">
            <h6>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor,
                quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo.</h6>
        </div>
        <div class="row d-flex textDiv">
            <h6>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor,
                quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo.</h6>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<hr>

<!-- What we offer -->
<div class="row justify-content-center hrSeparation">
    <div class="col-sm-6">
        <h3 class="title2">¿Qué ofrecemos?</h3>
    </div>
</div>

<div class="row justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="col-sm-10 text-center">
        <h5>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor,
            quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo.
        </h5>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card" style="background-color: salmon;">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <img class="card-img-top" src="../../../assets/hammer.png">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: white">Automóviles</h4>
                    <button type="button" class="btn btn-primary" (click)="goToServiciosPorCategoria()">Ver más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card" style="background-color: sandybrown;">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <img class="card-img-top" src="../../../assets/hammer.png">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: white">Decoración</h4>
                    <button type="button" class="btn btn-primary" (click)="goToServiciosPorCategoria()">Ver más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card" style="background-color: seagreen;">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <img class="card-img-top" src="../../../assets/hammer.png">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: white;">Finanzas</h4>
                    <button type="button" class="btn btn-primary" (click)="goToServiciosPorCategoria()">Ver más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<hr>

<!-- Join us -->
<div class="row justify-content-center" style="background-color:lightsteelblue;">
    <div class="col-sm-10 text-center">
        <h3 style="color: white;">
            ¡Únete a nuestra comunidad!
        </h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6 text-center">
        <h5>
            <u>Contratos realizados:</u> 755
        </h5>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-sm-6 text-center">
        <h5>
            <u>Contratistas registrados:</u> 30
        </h5>
    </div>
    <div class="col-sm-6 text-center">
        <h5>
            <u>Prestadores de servicios registrados:</u> 56
        </h5>
    </div>
</div>