h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration-color: rgb(131, 35, 35);
  color: black;
  text-decoration-line: underline;
}

hr {
  margin-top: 5rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.hrSeparation {
  margin-top: 5rem;
}

img {
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-title,
.card-text {
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  padding: 30px;
  
}

.title1 {
  color: black;
  background-color: lightgrey;
}

.title2 {
  color: white;
  background-color: gray;
}

h5, h6 {
  vertical-align: middle;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 2;
}

.textDiv {
  align-items: center;
  text-align: center;
}

.main-card {
  height: 100%;

  .main-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.categorias-list { 
  width: 90%;
  margin: 25px auto;
}

.categorias {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categoria {
  height: 100%;
}

.categoria-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}