
<!--
<div class="full-prod">
    <img class="product-image" src="{{producto.imagen}}" alt="">

    <div class="product-info">
        <h4 class="product-name truncate">{{producto.nombre}}</h4>
        <h6 class="product-desc truncate"> {{producto.descripcion}}</h6>
    </div>


    <div class="options">
        <p>Cantidad:</p>
        <div>
            <p>{{cantProd}}</p>
            <i class="material-icons">add_circle</i>
            <i class="material-icons">remove_circle</i>
        </div>
        <p>
            $ {{producto.precio * cantProd}}
        </p>
    </div>
</div>
-->