<div class="container-fluid" (click)="change()">
  <div class="row">
    <div class="col">
      <h1 class="text-center">¡Únete a nuestra comunidad!</h1>
    </div>
  </div>
  <div class="row p-8">
    <div class="col">
      <app-user-card></app-user-card>
    </div>
    <div class="col">
      <app-user-card></app-user-card>
    </div>
    <div class="col">
      <app-user-card></app-user-card>
    </div>
    <div class="col">
      <app-user-card></app-user-card>
    </div>
    <div class="col">
      <app-user-card></app-user-card>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 text-center">
      <b>5234</b> Usuarios están adquiriendo servicios
    </div>
    <div class="col-md-4 text-center">
      <b>5234</b> Contratos realizados
    </div>
    <div class="col-md-4 text-center">
      <b>5234</b> Usuarios están prestando servicios
    </div>
  </div>
</div>
