<div class="row section container">
  <h4 class="center-align titulo" style="margin-top: 10px">EDIT SUPPLIER</h4>
    <form class="col s12" autocomplete="off">
      <div class="row">
        <div class="input-field col s5">
            <input id="cuit" type="text" class="validate" name="cuit" [(ngModel)]="selectedSupplier.cuit">
            <label class="active" for="cuit">CUIT</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5"> 
          <input id="business_name" type="text" class="validate" name="razon_social" [(ngModel)]="selectedSupplier.razon_social">
          <label class="active" for="business_name">Business Name</label>
        </div>

        <div class="input-field col s5">
          <input id="city" type="text" class="validate" name="ciudad" [(ngModel)]="selectedSupplier.ciudad">
          <label class="active" for="city">City</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <input id="address" type="text" class="validate" name="direccion" [(ngModel)]="selectedSupplier.direccion">
          <label class="active" for="address">Address</label>
        </div>
        <div class="input-field col s5">
          <input id="phone" type="text" class="validate" name="telefono" [(ngModel)]="selectedSupplier.telefono">
          <label class="active" for="phone">Phone</label>
        </div>
      </div>
    <button class="btn waves-effect waves-light" (click)= "editSupplier()"> Submit
        <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light red" style="margin-left: 5px;" (click)= "cancel()"> Cancel </button>
    </form>
  </div>