<h3>Configuración</h3>


<div class="col-xs-12" *ngIf="!change">
    <button class="btn btn-outline-dark btn-ms btn-block text-uppercase waves-effect waves-light" type="submit" (click)="cambiar()">Cambiar Datos</button>
</div>
<div class="login-box card mt-1">
    <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" 
            (submit)="saveChanges()" 
            [formGroup]="userForm"
            autocomplete="off">
            <h3 class="box-title m-t-40 m-b-0">Datos de Usuario</h3>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control" 
                            type="text" 
                            placeholder="Nombre"
                            formControlName="name">
                    <small *ngIf="getFieldValid('name')" class="text-danger">
                        Ingrese el nombre
                    </small>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" 
                            type="text" 
                            placeholder="Dirección"
                            formControlName="address">
                    <small *ngIf="getFieldValid('address')" class="text-danger">
                        Ingrese la dirección
                    </small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" 
                            type="text" 
                            placeholder="Teléfono"
                            formControlName="phone">
                    <small *ngIf="getFieldValid('phone')" class="text-danger">
                        Ingrese el teléfono
                    </small>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" 
                            type="text" 
                            placeholder="Email"
                            formControlName="email">
                    <small *ngIf="getFieldValid('email')" class="text-danger">
                        Ingrese el email correctamente
                    </small>
                </div>
            </div>
            <div *ngIf="!pass && change" class="btn-group btn-group-ms btn-middle mb-3">
                <button class="btn btn-outline-dark btn-ms waves-effect waves-light" type="button" (click)="pass= !pass">Cambiar contraseña</button>
            </div>
            <div *ngIf="pass">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" 
                        type="password" 
                        placeholder="Contraseña"
                        formControlName="password">
                    <small *ngIf="getFieldValid('password')" class="text-danger">
                        Ingrese la contraseña
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" 
                        type="password" 
                        placeholder="Confirmar contraseña"
                        formControlName="password2">
                    <small *ngIf="pass2Valid" class="text-danger">
                        Las contraseñas no coinciden
                    </small> 
                    </div>
                </div>
            </div>
            <div class="form-group text-center" >
                <div class="btn-group btn-group-lg btn-block" *ngIf="change">
                    <button class="btn btn-outline-danger btn-lg btn-block text-uppercase waves-effect waves-light" type="button" (click)="cancel()">Cancelar</button>
                </div>
                <div class="btn-group btn-group-lg btn-block" *ngIf="change && !this.userForm.pristine">
                    <button class="btn btn-outline-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>
