<!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/img/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body mt-3">
                <form class="form-horizontal form-material" 
                    id="loginform" 
                    (submit)="login()"
                    [formGroup]="loginForm">
                    <a href="javascript:void(0)" class="text-center db"><img src="../assets/img/sporturno.png" alt="Home" /></a>
                    <div class="form-group mt-3">
                        <div class="col-xs-12">
                            <input class="form-control" 
                                    type="email" 
                                    placeholder="Email"
                                    formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" 
                                    type="password" 
                                    placeholder="Contraseña"
                                    formControlName="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0 ">
                                <input id="checkbox-signup" 
                                        type="checkbox" 
                                        class="filled-in chk-col-light-blue"
                                        formControlName="remember">
                                <label class="ml-1" for="checkbox-signup">  Recordar </label>
                            </div>
                            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Olvido la contraseña?</a> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            <div id="my-signin2"></div>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿Desea unirse? <a routerLink='/admin/register' class="text-primary m-l-5"><b>Registrese</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->