<div class="container">
    <a class="btn-floating btn-medium waves-effect waves-light red move-top-10" routerLink="/articles" routerLinkActive="active">
      <i class="material-icons">add</i>
    </a>
    <table class="striped">
          <thead>
            <tr>
                <th>Id Article</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a style="cursor: pointer"><i class="material-icons">edit</i></a>
                <a style="cursor: pointer"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>