  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        Formulario de hospitales
      </mat-panel-title>
      <mat-panel-description> 
        <div *ngIf="!isCreate()" class="row"> Editar <mat-icon matSuffix>local_hospital</mat-icon></div>
        <div *ngIf="isCreate()" class="row"> Agregar <mat-icon matSuffix>local_hospital</mat-icon></div>
        <div *ngIf="!isCreate()"><mat-icon>edit</mat-icon></div>
        <div *ngIf="isCreate()"><mat-icon>plus_one</mat-icon></div>
      </mat-panel-description>
    </mat-expansion-panel-header>
        <app-hospital-form 
            [hospitalSelected]="this.hospitalSelected"
            [inputType]="this.inputType"
            (add)="onHospitalCreated($event)"
            (edit)="onHospitalEdited($event)">
        </app-hospital-form>
    </mat-expansion-panel>
  </mat-accordion> 
  <br> 
  <div *ngIf="!isCreate()">
    <button mat-raised-button aria-label="Agregar hospital" (click)="setInputTypeCreate()">
        Volver a form de creación <mat-icon>plus_one</mat-icon>
    </button>
  </div>
  <br>
  <app-hospital-list
      [dataHospital]="this.dataHospital"
      (hospitalSelected)="onHospitalSelected($event)"
      (hospitalDeleted)="onHospitalDeleted($event)">
  </app-hospital-list>  
  <mat-progress-bar *ngIf="flagListIsReady" mode="indeterminate"></mat-progress-bar> 