<div class="modal fade background-popup-fade" id="signInPopup" aria-labelledby="Inicio Sesión" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Inicio Sesión
                </h5>
                <button type="button" id="btnCloseSignInPopup" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="errorMessage">
                    <div style="width: 100%; margin-bottom: 1%;">
                        <div class="alert alert-danger alert-dismissible fade show"
                            style="width: fit-content; margin-top: 2%; margin-left: auto; margin-right: auto;"
                            role="alert">
                            {{ errorMessage }}
                            <button (click)="errorMessage = ''" class="close btn btn-link" data-dismiss="alert"
                                style="color: black; text-decoration: none; font-size: 22px;" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="card text-center animate__animated animate__flipInY animate__fast">
                    <div class="card-body">
                        <img [src]="'/assets/logo.png'" alt="Logo SignIn"
                            class="card-img-top mx-auto m-3 rounded-circle w-25">
                        <form>
                            <div class="form-group">
                                <label>Nombre Usuario</label>
                                <input type="text" name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario"
                                    placeholder="Nombre Usuario" class="form-control" autofocus>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Clave</label>
                                <input type="password" name="clave" [(ngModel)]="usuario.clave" placeholder="Clave"
                                    class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" (click)="signIn()">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>