#acercar:hover {
    transform-origin: top;
    animation: scale 200ms ease-in-out forwards;
  }
  @keyframes scale {
    to {
      transform: scale(1.02);
    }
  }

.card-title{
  text-align: center;
  font-size: 2em;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.card-content{
  text-align: center;
  font-size: 1rem;

  position: relative;
  bottom: 2em;
}

.card-action{
  text-align: center;
  font-size: 1 rem;
  display: block;
  position: relative;
}