
      <div class="card medium" id="acercar"> 

        <div class="card-image">
          <img src= {{producto.imagen}} 
                alt="Imagen de: {{producto.nombre}}"
                 id="centrarImagen" class="materialboxed media-object"
                 >
                  </div>

        <span class="card-title center-block truncate">{{producto.nombre}}</span>


        <div class="abajo">
        <div class="card-content"> <p>${{producto.precio}}</p> </div>
      
        <div class="card-action pulse"> <a href="#">VER MAS</a> </div>
        </div>

      </div>
   