<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        Formulario de Obras Sociales
      </mat-panel-title>
      <mat-panel-description> 
        <div *ngIf="!isCreate()"> Editar </div>
        <div *ngIf="isCreate()"> Agregar </div>
        <div *ngIf="!isCreate()"><mat-icon>edit</mat-icon></div>
        <div *ngIf="isCreate()"><mat-icon>plus_one</mat-icon></div>
      </mat-panel-description>
    </mat-expansion-panel-header>
        <app-health-insurance-form 
            [healthInsuranceSelected]="this.healthInsuranceSelected"
            [inputType]="this.inputType"
            (add)="onHealthInsuranceCreated($event)"
            (edit)="onHealthInsuranceEdited($event)">
        </app-health-insurance-form>
  </mat-expansion-panel>
</mat-accordion> 
<br> 
<div *ngIf="!isCreate()">
  <button mat-raised-button aria-label="Agregar obra social" (click)="setInputTypeCreate()">
      Volver a form de creación <mat-icon>plus_one</mat-icon>
  </button>
</div>
<br>
<app-health-insurance-list
    [dataHealthInsurance]="this.dataHealthInsurance"
    [allowEdit]="true"
    [allowDelete]="true"
    (healthInsuranceSelected)="onHealthInsuranceSelected($event)"
    (healthInsuranceDeleted)="onHealthInsuranceDeleted($event)">
</app-health-insurance-list> 
<mat-progress-bar *ngIf="flagListIsReady" mode="indeterminate"></mat-progress-bar> 