<div class="container">
  <div class="espaciar">
    <h4>Contanos, ¿qué vas a publicar?</h4>
  </div>

  <form class="form-contenedor" [formGroup]="productForm">

    <div class="renglon">
      <label>Indicá el nombre del producto</label>
      <input type="text" formControlName="nombre" placeholder="Nombre de tu producto" class="validate">
      <em *ngIf="this.productForm.controls.nombre.touched && this.productForm.controls.nombre.invalid"
        style="color:red;">* Debe ingresar un nombre para su producto.</em>
    </div>

    <div class="renglon">
      <label>Describí tu producto</label>
      <div class="input-descripcion">
        <textarea type="text" formControlName="descripcion" placeholder="Descripción del producto"
          class="validate txt-area" (ngModelChange)="txtAreaTextChanges($event)">
      </textarea>
        <em *ngIf="this.productForm.controls.descripcion.touched && this.productForm.controls.descripcion.invalid"
          style="color:red;">* Debe ingresar una descripción para su producto.</em>
      </div>
    </div>

    <div class="renglon">
      <div class="medio-renglon izquierda" style="margin-bottom: 25px;">
        <label>Rubro</label>
        <mat-select [(value)]="idRubroSeleccionado" [placeholder]="idRubroSeleccionado"
          (selectionChange)="actualizarRubroSeleccionado()">
          <mat-option *ngFor="let rubro of rubros" value="{{rubro._id}}">
            <b>{{rubro.descripcion}}</b></mat-option>
        </mat-select>
      </div>

      <div class="medio-renglon derecha">
        <label>¿Cuantos vendes?</label>
        <input formControlName="stock" id="stock" placeholder="Indicá tu stock" type="text" class="validate">
        <em *ngIf="this.productForm.controls.stock.touched && this.productForm.controls.stock.invalid"
          style="color:red;">* Debe ingresar una cantidad correcta.</em>

      </div>
    </div>


    <div class="renglon">
      <div class="medio-renglon izquierda">
        <label>¿A qué precio?</label>
        <input formControlName="precio" id="precio" placeholder="Indicá el precio de tu producto" type="text"
          class="validate">
        <em *ngIf="this.productForm.controls.precio.touched && this.productForm.controls.precio.invalid"
          style="color:red;">* Debe ingresar un precio correcto.</em>
      </div>

      <div class="medio-renglon derecha">
        <label>Mostrales a todos tu producto</label> <br>
        <input type="file" accept="image/*" multiple (change)="onFileSelected($event)" class="input-img">
      </div>
    </div>

    <button *ngIf="!modoEdicion" class="btn waves-effect waves-light btn-inferior" type="submit" name="action"
      (click)="save()" [disabled]='!productForm.valid'>Cargar Producto
      <i class="material-icons right"></i>
    </button>

    <button *ngIf="modoEdicion" class="btn waves-effect waves-light btn-inferior" type="submit" name="action"
      (click)="edit()" [disabled]='!productForm.valid'>Editar Producto
      <i class="material-icons right"></i>
    </button>

  </form>

</div>