<div class="example-button-container">
    <button mat-fab color="primary" (click)="redirectToFastEmergency()">
        <mat-icon>bolt</mat-icon>
    </button>
    <h2>Crear emergencia inmediata</h2>
</div>
<div class="example-button-container">
    <button mat-fab color="primary" disabled>
        <mat-icon>healing</mat-icon>
    </button>
    <h2>Crear emergencia</h2>
</div>
<div class="example-button-container">
    <button mat-fab color="primary" disabled>
        <mat-icon>edit</mat-icon>
    </button>
    <h2>Actualizar emergencia</h2>
</div>
<div class="example-button-container">
    <button mat-fab color="primary" disabled>
        <mat-icon>medical_services</mat-icon>
    </button>
    <h2>Asignar emergencia</h2>
</div>