<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
  <mat-expansion-panel-header color="primary">
    <mat-panel-title>
      Formulario de camas
    </mat-panel-title>
    <mat-panel-description> 
      <div *ngIf="!isCreate()"> Editar </div>
      <div *ngIf="isCreate()"> Agregar </div>
    
      <div *ngIf="!isCreate()"><mat-icon>edit</mat-icon></div>
      <div *ngIf="isCreate()"><mat-icon>plus_one</mat-icon></div>
    </mat-panel-description>
  </mat-expansion-panel-header>
      <app-cama-form 
          [bedSelected]="this.bedSelected"
          [inputType]="this.inputType"
          (add)="onBedCreated($event)"
          (edit)="onBedEdited($event)">
      </app-cama-form>
  </mat-expansion-panel>
</mat-accordion> 
<br> 
<div *ngIf="!isCreate()">
  <button mat-raised-button aria-label="Agregar cama" (click)="setInputTypeCreate()">
      Volver a form de creación <mat-icon>plus_one</mat-icon>
  </button>
</div>
<br>
<app-cama-list
    [dataBed]="this.dataBed"
    (bedSelected)="onBedSelected($event)"
    (bedDeleted)="onBedDeleted($event)">
</app-cama-list> 