 
  <!-- (mapClick)="click($event)" -->
<google-map  
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="myPosition"
  [options]="options" >
    <map-marker
      #markerElem
      *ngFor="let myMark of myMarkers"
      [position]="myMark.position"
      [label]="myMark.title"
      [title]="myMark.label"
      [options]="myMark.options">
    </map-marker> 
    <map-marker
      #markerElem
      *ngFor="let efector of hospitalData"
      [position]="efector.geo"
      [label]="efector.name"
      [title]="efector.name"   
      [options]="efector.options"
      (mapClick)="openInfo(markerElem, efector.info)">
    </map-marker> 
  <map-info-window>
    {{ infoContent }}
  </map-info-window>
</google-map>
 
<button (click)="logCenter()">Mostrar lat y long del centro del mapa</button>
<button (click)="addMarkerCurrentPosition()" mat-raised-button color="primary" >
  <span class="material-icons">person_pin_circle</span>
  Mi ubicación
</button>
 
<button (click)="calculateDistancia()">Calcular distancia con Google</button>
<button (click)="getNearestHospital()" mat-raised-button color="primary">
  <span class="material-icons">location_searching</span> 
  Efector más cercano
</button>
 

<!-- <img src="..\..\..\..\..\assets\img\cab1.png"> -->


<mat-card class="example-card" *ngIf="this.hospitalClosest">
  <mat-card-header> 
    <mat-card-title>Efector más cercano: {{this.hospitalClosest.nombre}}</mat-card-title>
    <mat-card-subtitle>  
      <span class="material-icons">pin_drop</span>
      {{this.hospitalClosest.domicilio}}, {{this.hospitalClosest.localidad}}
    </mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>  
      Cantidad de camas
      <mat-icon matBadge="15" matBadgeColor="warn">single_bed</mat-icon> 
        <span class="cdk-visually-hidden">
          La cantidad de camas disponibles es 155555555555 (es para accesibilidad este texto>>>>>>>>>>>>)
        </span> 
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button color="warn">Tomar cama e ir!</button>
  </mat-card-actions>
</mat-card>
