<div class="service p-2">
  <div class="card">
    <div class="card-header">{{ cardData.titulo }}</div>
    <div class="card-body service-content">
      <p class="text-muted">
        <b>Usuario oferente</b>: <a href="" [routerLink]="cardData.usuario?.nombreUsuario">{{ cardData.usuario?.nombreUsuario }}</a>
      </p>

      <p class="text-muted">
        <b>Categoría</b>: <a href="" (click)="selectCat($event)">{{ cardData.categoria?.descripcion }}</a>
      </p>

      <p class="text-muted">
        <b>Precio</b>: {{ cardData.precio?.moneda?.tag }}&nbsp;{{ cardData.precio?.valor }}
      </p>

      <p class="text-muted">
        <b>Ubicación</b>: {{ cardData.ubicacion }}
      </p>

      <a href="" class="btn btn-success btn-block" (click)="mostrarDetalle($event)">
        <i class="fas fa-search-plus mr-2"></i>Ver más
      </a>
    </div>
  </div>
</div>

<app-service-detail [servicio]="cardData"></app-service-detail>