<div class="container-fluid p-0 mb-3">
  <div class="card">
    <div class="card-header">{{ cardData.titulo }}</div>
    <div class="card-body">
      <p class="text-muted">
        Usuario: <a href="">{{ cardData.usuario?.nombreUsuario }}</a>
      </p>

      <p class="text-muted">
        Categoría: <a href="">{{ cardData.categoria?.descripcion }}</a>
      </p>

      <p class="text-muted mb-1">Descripción:</p>
      <p class="card-text">
        <small>{{ cardData.descripcion }}</small>
      </p>
      <a href="#" class="btn btn-success btn-block" (click)="mostrarDetalle()">
        <i class="fas fa-search-plus"></i> Ver más
      </a>
    </div>
  </div>
</div>
