<footer class="page-footer footer-color">
  <div class="container">
    <div class="row center-align">
      <div class="col l4 s12 left-align">
        <h5 class="white-text">UTN Shops</h5>
        <hr class="line-effect">
        <p class="grey-text text-lighten-4">En UTN Shops encontrarás la mejor manera de vender tus productos y comprar
          lo que desees de manera online, facil, y rapido.</p>
      </div>
      <div class="col l4 s12 left-align ">
        <h5 class="white-text">Seguinos</h5>
        <hr class="line-effect">
        <div>
          <a href="#" class="hoverable btn-floating white-text facebook">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#" class="hoverable btn-floating white-text instagram">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#" class="hoverable btn-floating white-text twitter">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#" class="hoverable btn-floating white-text youtube">
            <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col l4 s12 left-align">
        <h5 class="white-text">Navigation</h5>
        <hr class="line-effect">
        <ul>
          <li><a href="#" class="links white-text" [routerLink]="['rubros/productos']">Productos</a></li>
          <li><a href="#" class="links white-text" [routerLink]="['rubros/empresas']">Empresas</a></li>
          <li><a href="#" class="links white-text" [routerLink]="['/profile']">Perfil</a></li>
        </ul>
      </div>



    </div>
  </div>
  <div class="footer-copyright center-align" style="background-color:#263238">
    <div class="container">
      2020 © UTN Shops - Todos los derechos reservados.
    </div>
  </div>
</footer>