.line-effect{
    text-align:right;
    border:none;
    height: 2px;
    width:20%;
    margin-left: 0;
    color:#6200ea;
    background-color: #6200ea;
  }
.links{
    font-size: 20px;
}
.footer-color{

    background-color: #1C2331;
}

.instagram{
    margin-right: 15px;
    background: radial-gradient(
        circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
}
.facebook{
    margin-right: 15px;
    background-color: #3949ab ;
}
.youtube{
    margin-right: 15px;
    background-color: #f44336;
}
.twitter{
    margin-right: 15px;
}