<!-- carousel -->
    <div class="image-container">
        <div>
            <div class="carousel carousel-slider center " data-indicators="true">
                <div class="carousel-fixed-item center middle-indicator">
                    <!-- arrows -->
                    <div class="left" (click)="prevImage()">
                        <a class=" middle-indicator-text waves-effect waves-light content-indicator"><i
                                class="material-icons left  middle-indicator-text">chevron_left</i></a>
                    </div>
                    <div class="right" (click)="nextImage()">
                        <a class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i
                                class="material-icons right middle-indicator-text">chevron_right</i></a>
                    </div>
                </div>

                <div *ngFor="let url of producto.url; index as i" class="carousel-item white">
                    <img src="{{producto.url[i]}}">
                </div>
            </div>
        </div>
    </div>