<div class="row section container">
    <h4 class="center-align titulo" style="margin-top: 10px">NEW PURCHASE</h4>
      <form #clientForm="ngForm" class="col s12" autocomplete="off">
        
        <div class="row">
          <div class="input-field col s5">
              <input id="fecha_compra" type="text" class="validate" name="fecha_compra" [value]="fecha" disabled>
              <label class="active" for="fecha_compra">Fecha</label>
          </div>
        </div>

        <div class="row">
            <h4 style="padding-left: 1rem">Article</h4>
            <mat-form-field class="col s4">
                <mat-select [(ngModel)]="purchase.id_articulo" name="purchase">
                    <mat-option *ngFor="let article of articles" [value]="article.id_articulo">
                        {{article.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <h4 style="padding-left: 1rem">Supplier</h4>
            <mat-form-field class="col s7">
                <mat-select [(ngModel)]="purchase.id_proveedor" name="proveedor">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id_proveedor">
                        Cuit: {{supplier.cuit}} -- Business Name: {{supplier.razon_social}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
  
        <div class="row">
          <div class="input-field col s5">
            <input id="precio_unitario" type="text" class="validate" name="precio_unitario" [(ngModel)]="purchase.precio_unitario">
            <label for="precio_unitario">Price for unity ($)</label>
          </div>
  
          <div class="input-field col s5">
            <input id="cantidad" type="text" class="validate" name="cantidad" [(ngModel)]="purchase.cantidad">
            <label for="cantidad">Amount</label>
          </div>
        </div>
  
      <button class="btn waves-effect waves-light" (click)="addPurchase()"> Submit
          <i class="material-icons right">send</i>
      </button>
      </form>
    </div>
