<h2 *ngIf="inputType!=2">Agregar hospital <mat-icon matSuffix>local_hospital</mat-icon></h2>
<h2 *ngIf="inputType===2">Editar hospital <mat-icon matSuffix>local_hospital</mat-icon></h2>

<form  [formGroup]="hospitalForm" (ngSubmit)="onSubmit()" class="mi-form">
    <!-- <p> 
        <mat-form-field>
            <mat-label> Id: </mat-label>
            <input matInput formControlName="id" placeholder="ID de la cama">
            <mat-error *ngIf="hospitalForm.controls.id.touched && hospitalForm.controls.id.invalid">
                <span *ngIf="hospitalForm.controls.id.errors.required">No te ovlvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p> -->
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" placeholder="Nombre del hospital" >
            <mat-error *ngIf="hospitalForm.controls.name.touched && hospitalForm.controls.name.invalid">
                <span *ngIf="hospitalForm.controls.name.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Localidad: </mat-label>
            <input matInput formControlName="locality" placeholder="Localidad del hospital" >
            <mat-error *ngIf="hospitalForm.controls.locality.touched && hospitalForm.controls.locality.invalid">
                <span *ngIf="hospitalForm.controls.locality.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Dirección: </mat-label>
            <input matInput formControlName="address" placeholder="Dirección del hospital" >
            <mat-error *ngIf="hospitalForm.controls.address.touched && hospitalForm.controls.address.invalid">
                <span *ngIf="hospitalForm.controls.address.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Teléfono: </mat-label>
            <span matPrefix>+54 &nbsp;</span>
            <input matInput formControlName="phone" placeholder="Teléfono del hospital" >
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="hospitalForm.controls.phone.touched && hospitalForm.controls.phone.invalid">
                <span *ngIf="hospitalForm.controls.phone.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>  
    </p>
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Latitud </mat-label>
            <input matInput type="number" formControlName="lat" placeholder="Latitud del hospital" >
            <mat-error *ngIf="hospitalForm.controls.lat.touched && hospitalForm.controls.lat.invalid">
                <span *ngIf="hospitalForm.controls.lat.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Longitud </mat-label>
            <input matInput type="number" formControlName="lng" placeholder="Longitud del hospital" >
            <mat-error *ngIf="hospitalForm.controls.lng.touched && hospitalForm.controls.lng.invalid">
                <span *ngIf="hospitalForm.controls.lng.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Color Marker MAP: </mat-label>
            <input matInput formControlName="colorMarker" placeholder="Color del marcador del hospital" > 
        </mat-form-field>
    </p>  
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Color Texto Marker MAP: </mat-label>
            <input matInput formControlName="colorTextoMarker" placeholder="Color del Texto del marcador del hospital" >
        </mat-form-field>
    </p>  
    <p> 
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Opciones: </mat-label>
            <input matInput formControlName="options" placeholder="Opciones del hospital" >
        </mat-form-field>
    </p> 
    <p>        
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Nivel de atención</mat-label>
            <!-- formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor -->
            
            <mat-select matNativeControl required formControlName='atentionLevel'  [value]='hospitalSelected.atentionLevel'>
                <mat-option *ngFor="let atentionLevel of dataAtentionLevel" [value]="atentionLevel.description"> 
                    {{atentionLevel.description}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p> 
    <!-- <p>        
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Obra sociales</mat-label>
            formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
           
            <mat-select matNativeControl required formControlName='type' [value]='hospitalSelected.healthInsurances'>
                <mat-option *ngFor="let healthInsurance of dataHealthInsurance" [value]="healthInsurance.description"> 
                    {{healthInsurances.description}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p>
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Accidentes o enfermedades atendidas</mat-label>
            formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
            
            <mat-select matNativeControl required formControlName='accidentOrDiseases' [value]='hospitalSelected.accidentOrDiseases'>
                <mat-option *ngFor="let accidentOrDiseases of dataAccidentOrDiseases" [value]="accidentOrDiseases.description"> 
                    {{accidentOrDiseases.description}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Camas</mat-label>
            formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
            
            <mat-select matNativeControl required formControlName='beds' [value]='hospitalSelected.beds'>
                <mat-option *ngFor="let bed of dataBed" [value]="bed.description"> 
                    {{bed.description}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>
    </p> -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!hospitalForm.valid">{{setButtonText()}}</button>
</form>
 