
.responsive-img {
    object-fit: fill;
    width: 200px;
    height: 150px;
  }

  .card{
    cursor: pointer;
  }
  .make-bigger {
    transition: 0.5s;
  }
  .make-bigger:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px #000;
  }

