<div class="hero-wrap" style="background-image: url('../../../assets/img/fondo-canchas.jpg');background-repeat: no-repeat;background-size: cover;" >
    <div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text justify-content-start align-items-center">
        <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
            <div class="text">
                <h1 class="mb-4 text-white text-uppercase">{{field?.name}}</h1>
                <hr class="bg-white">
                <p style="font-size: 20px;" class="text-white">Descripción: <span class="font-italic">{{field?.description}}</span></p>
                <p style="font-size: 20px;" class="text-white">Apertura: <span class="font-italic">{{field?.openingHour | date:'shortTime':'+0'}}</span></p>
                <p style="font-size: 20px;" class="text-white">Cierre: <span class="font-italic">{{field?.closingHour | date:'shortTime':'+0'}}</span></p>
                <p style="font-size: 20px;" class="text-white">Precio: <span class="font-italic">{{field?.price}} $</span></p>      
      </div>
    </div>
    <div class="col-lg-1 col"></div>
    <div class="col-lg-3 col-md-9 mt-0 mt-md-2 d-flex">
        <form action="#" class="request-form ftco-animate text-white" [formGroup]="form" (submit)="search()">
            <h2 >Busca un horario</h2>
            <div class="d-flex">
                <div class="form-group mr-2">
                    <label for="" class="label">Fecha desde</label>
                    <input type="date"  class="form-control" id="book_pick_date" placeholder="Fecha desde" formControlName="sinceDate">
                </div>
                <div class="form-group ml-2">
                    <label for="" class="label">Fecha hasta</label>
                    <input type="date" class="form-control" id="book_off_date" placeholder="Fecha hasta" formControlName="untilDate">
                </div>
            
            </div>
                    <small *ngIf="getFieldValid('sinceDate') || getFieldValid('untilDate') " class="text-danger border-white text-uppercase mt-0 bg-danger text-black-50">
                        Error en la fecha
                    </small>
            <div class="form-group">
                <button class="btn btn-block btn-info" [disabled]="form.invalid"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<app-do-appointment-table [available]="available" [field]="field" *ngIf="table"></app-do-appointment-table>
