.no-niveles {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}

.col-accion {
  display: flex;
}

.col-cont-min {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .col-nro {
    width: 15%;
  }
  
  .col-cont-min {
    width: 85%;
  }
}