h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration-color: brown;
    color: black;
    text-decoration-line: underline;
  }

  h4 {
    text-align: center;
    padding: 15px;
  }

  hr {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }