<div class="container">

    <app-product-detail-carousel [idProducto]="idProducto"></app-product-detail-carousel>
   
    <aside class="right-options">
        <app-product-detail-buy-info [producto]="producto" [vendedor]="vendedor"></app-product-detail-buy-info>
        <app-product-detail-seller-card [vendedor]="vendedor"></app-product-detail-seller-card>
    </aside>

    <div class="descripcion-producto">
        <h3>Descripcion del producto</h3>
        <p class="justify">{{producto.descripcion}}</p>
    </div>

</div>