<div [routerLink]="['/rubros/productos', producto.id]" class="container">

    <div class="image-container">
        <div class="slider">
            <ul class="slides">
                <li *ngFor="let imagen of images">
                    <img src={{imagen}} alt="Imagen de: {{producto.nombre}}" class="materialboxed image-contained">
                </li>
            </ul>
        </div>
    </div>
    <aside class="right-options">
        <div class="buy-info">
            <h1>{{producto.nombre}}</h1>
            <h2>${{producto.precio}}</h2>
            <div id="si-hay-stock">
                <p>Stock disponible</p>
                <a class="waves-effect waves-light btn btn-color " id="btn-style">AGREGAR A CARRITO</a>
                <a class="waves-effect waves-light btn btn-color-secondary" id="btn-style">COMPRAR</a>
            </div>
        </div>

        <div class="card seller-profile">
            <div class="empresa-profile">
                <img src="{{producto.empresa.imagen}}" class="img-empresa-redonda">
            </div>

            <span class="card-title">{{producto.empresa.razonSocial}}</span>

            <footer class="descripcion-empresa">
                <p>Localidad: {{producto.empresa.localidad}}</p>
                <p>Dirección: {{producto.empresa.direccion}}</p>
            </footer>
        </div>
    </aside>
    <div class="descr-producto">
        <h2>Descripcion del producto</h2>
        <p>{{producto.descripcion}}</p>
    </div>

</div>