<div class="container">

    <!-- slider -->
    <div class="image-container">
        <div class="slider">
            <ul class="slides">
                <li *ngFor="let imagen of producto.url">
                    <img src={{imagen}} alt="Imagen de: {{producto.nombre}}">
                </li>
            </ul>
        </div>
    </div>
    <!-- slider -->

    <aside class="right-options">
        <div class="buy-info">
            <h1>{{producto.nombre}}</h1>
            <h2>${{producto.precio}}</h2>
            <div id="si-hay-stock">
                <p>Stock disponible</p>
                <a class="waves-effect waves-light btn btn-color red" (click)="removeFromCart()" *ngIf="isInCart()">Quitar del carrito</a>
                <a class="waves-effect waves-light btn btn-color green" (click)="addToCart()" *ngIf="!isInCart()">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card seller-profile">
            <div class="empresa-profile">
                <img src="{{vendedor.url}}" class="img-empresa-redonda">
            </div>

            <span class="card-title">{{vendedor.razonSocial}}</span>

            <footer class="descripcion-empresa">
                <p>Localidad: {{vendedor.localidad}}</p>
                <p>Dirección: {{vendedor.direccion}}</p>
            </footer>
        </div>
    </aside>
    <div class="descr-producto">
        <h2>Descripcion del producto</h2>
        <p>{{producto.descripcion}}</p>
    </div>

</div>