// arreglar esta linea.
// si lo saco, se me ve un recuadro horrible. (corregir)
.container {
  outline: none !important;
  overflow: hidden;
  min-height: 100%;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

.image-container {
  float: left;
  margin-top: 2em;
  width: 60%;
}

.slider {
  margin: auto;
  width: 400px;
}

.slides {
  height: 100%;
  width: 100%;
  background-color: white;
}
.image-contained {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.right-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  width: 40%;
}

.descr-producto {
  position: relative;
  width: 60%;
  float: left;
}

.descr-producto h2 {
  font-size: 6vh;
}

.buy-info {
  text-align: center;
  padding-top: 2em;
  align-items: center;
}

#si-hay-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-color-edit {
  background-color: white;
  color: rgb(103, 058, 183);
  font-size: large;
}
.btn-color {
  background: rgb(103, 058, 183);
  color: white;
  font-size: large;
}

#btn-style {
  margin-top: 3em;
  font-size: medium;
}

.descripcion-empresa {
  text-align: left;
  padding-bottom: 1em;
  position: relative;
}
.descripcion-empresa .title {
  margin: 0 0 10px 0;
}
.descripcion-empresa .text {
  margin: 0px;
}

.seller-profile {
  margin-top: 5em;
  width: 280px;
  height: 280px;
}

.mini-imagen {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  object-fit: fill;
}

.product-image {
  width: 200px;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .image-container {
    margin-top: 1em;
    width: 100%;
    height: auto;
  }

  .slider {
    margin: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 85vw;
  }

  .slides {
    width: 85vw;
    background-color: white;
  }

  .descr-producto {
    position: relative;
    width: 100%;
  }
  .right-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    width: 100%;
  }
  .buy-info {
    width: 100%;
  }
  .seller-profile {
    display: none;
  }
}

// CSS PARA EL CAROUSEL.
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 50%;
}
.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: white !important;
  background-color: #4c45505e;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}
img {
  object-fit: scale-down;
  height: 400px !important;
}
