// arreglar esta linea.
// si lo saco, se me ve un recuadro horrible. (corregir)
.container {
  outline: none !important;
  overflow: hidden;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}

.image-container {
  float: left;
  margin-top: 2em;
  width: 60%;
}

.slider {
  margin: auto;
  width: 400px;
}

.slides {
  height: 100%;
  width: 100%;
  background-color: white;
}
.image-contained{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.right-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  width: 40%;
}

.descr-producto {
  position: relative;
  width: 60%;
  float: left;
}


.descr-producto h2 {
  font-size: 6vh;
}

.buy-info {
  text-align: center;
  padding-top: 2em;
  align-items: center;
}

#si-hay-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seller-profile {
  margin-top: 5em;
  width: auto;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.btn-color-edit {
  background-color: white;
  color: rgb(103, 058, 183);
  font-size: large;
}
.btn-color {
  background: rgb(103, 058, 183);
  color: white;
  font-size: large;
}

#btn-style {
  margin-top: 3em;
  font-size: medium;
}

.descripcion-empresa {
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
  position: relative;
}

.empresa-profile {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.empresa-profile img {
  margin-top: 25px;
  width: 100%;
  height: auto;
}



@media only screen and (max-width: 1000px) {
  .image-container {
    margin-top: 1em;
    width: 100%;
    height: auto;
  }
  .image-contained {
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    max-width: 400px;
  }

  .slider {
    margin: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 85vw;
  }

  .slides {
    width: 85vw;
    background-color: white;
  }

  .descr-producto {
    position: relative;
    width: 100%;
  }
  .right-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    width: 100%;
  }
  .buy-info {
    width: 100%;
  }
  .seller-profile {
    display: none;
  }
}
