.product-detail{
    margin: 10px;
    display:flex;
    flex-direction:row;
    align-items: center;
    position: relative;
}

.image-container{
    margin-top: 2em;
    width: 40em;
    height: 40em;
    margin-left: 18vw;
    margin-right: auto;
}

.image-contained{
    height: 30em;
    width: auto;
    display:block;
}


.right-options{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: 7vw;
}


.superior{
    display: flex;
    flex-direction: row;
}
@media(min-width: 2000px){
    .image-container{
        margin-top: 2em;
        width: 40em;
        height: 40em;
        margin-left: 60%;
        margin-right: auto;
    }
    .right-options{
        margin: auto;
        margin-left: 10vw;
    }    
    .descr-producto{
        margin-top: 5vh;
        left: 15%;
    }
}
@media (max-width: 1000px)
    {
        .image-contained{
            margin-left: auto;
            margin-right: auto;
        }
        
        .superior{
        display: flex;
        flex-direction: column;
    }
    .right-options{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }    
    .descr-producto{
        margin-top: 250vh;
        left: 5%;
}

}

.buy-info{
    text-align: center;
    padding-top:2em;
    align-items: center;
}

.si-hay-stock{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.seller-profile{
    margin-top: 5em;
    width: auto;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
}



.descr-producto{
    position: absolute;
    margin-left: 10vw;
    top: 38em;
}

.btn-color-secondary{
    background-color: white;
    color: rgb(103,058,183)
}
.btn-color{
    background: rgb(103,058,183);
    color: white;
    font-size: large;
}

#btn-style{ 
    margin-top: 3em;
    font-size: medium;
}



.descripcion-empresa{
    text-align: left;
    padding-left: 2em;
    padding-bottom: 1em;
    position: relative;
}


.empresa-profile{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.empresa-profile img{
    margin-top: 25px;
    width: 100%;
    height: auto;
}

