<div class="product-detail">
    
    <div class="image-container">

        <img src= {{producto.imagen}} 
        alt="Imagen de: {{producto.nombre}}"
        class="materialboxed media-object image-contained"
     >

 <div id="right-to-image">
<h1>{{producto.nombre}}</h1>

 <h2>${{producto.precio}}</h2>

 <div id="si-hay-stock">
     <p>Stock disponible</p>
 <a class="waves-effect waves-light btn btn-color pulse" id="btn-style">AGREGAR A CARRITO</a>

 <a class="waves-effect waves-light btn btn-color-secondary" id="btn-style">COMPRAR</a>

</div>  

<div class="seller-profile"> 
    <div>
        Datos del vendedor
    </div>
</div>

</div>

</div>
    <div class="descripcion">
        <h2>Descripcion</h2>
        <p>{{producto.descripcion}}</p>
    </div>

</div>
