.product-detail{
    margin: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}
.image-container{
    margin-top: 2em;
    width: 40em;
    height: 40em;
    display: flex;
    flex-direction: row;
}

.image-contained{
    height: 30em;
    width: auto;
    display:block;
}

.seller-profile{
    margin-top: 5em;
    height: 20em;
    width: auto;
}



.descr-producto{
    
}

.btn-color-secondary{
    background-color: white;
    color: rgb(103,058,183)
}
.btn-color{
    background: rgb(103,058,183);
    color: white;
    font-size: large;
}

#btn-style{ 
    margin-top: 3em;
    font-size: medium;
}

#right-to-image{
    float:right;
    text-align: center;
    padding-top:2em;
    margin-left: 12em;
}

.descripcion-empresa{
    text-align: left;
    padding-left: 2em;
    padding-bottom: 1em;
    width: 20%;
    position: relative;
    
}


.empresa-profile{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.empresa-profile img{
    margin-top: 25px;
    width: 100%;
    height: auto;
}

