<h2>
  Listado de camas 
  <mat-icon>list</mat-icon>
</h2> 
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataBed">

  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let bed">{{bed.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let bed">{{bed.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
      <mat-cell *matCellDef="let bed">{{bed.status}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
    <mat-cell *matCellDef="let bed">{{bed.type}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="subtype">
    <mat-header-cell *matHeaderCellDef>Sub Tipo</mat-header-cell>
    <mat-cell *matCellDef="let bed">{{bed.subtype}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="idHospital">
    <mat-header-cell *matHeaderCellDef>Hospital</mat-header-cell>
    <mat-cell *matCellDef="let bed">{{bed.idHospital}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="hospitalName">
    <mat-header-cell *matHeaderCellDef>Hospital</mat-header-cell>
    <mat-cell *matCellDef="let bed">{{bed.hospitalName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>   
    <td mat-cell *matCellDef="let bed"> 
      <button mat-mini-fab color="primary"> 
        Liberar
      </button>  
      <button mat-mini-fab color="accent" (click)="editBed(bed)">
        <mat-icon>edit</mat-icon>
      </button>  
      <button mat-mini-fab color="warn" (click)="deleteBed(bed)" aria-label="Eliminar cama">
        <mat-icon>delete</mat-icon>
      </button> 
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
   
</mat-table>

