<h2>Cama form</h2>

<form  [formGroup]="camaForm" (ngSubmit)="onSubmit()">  
    <p> 
        <mat-form-field  appearance="standard">
            <mat-label> Id: </mat-label>
            <input matInput formControlName="id" placeholder="ID de la cama">
            <mat-error *ngIf="camaForm.controls.id.touched && camaForm.controls.id.invalid">
                <span *ngIf="camaForm.controls.id.errors.required">No te ovlvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p> 
    <p> 
        <mat-form-field  appearance="standard">
            <mat-label> Decripción: </mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripcion de la cama" >
            <mat-error *ngIf="camaForm.controls.descripcion.touched && camaForm.controls.descripcion.invalid">
                <span *ngIf="camaForm.controls.descripcion.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p>        
        <mat-form-field appearance="fill">
            <mat-label>Tipo cama</mat-label>
            <mat-select matNativeControl required>
                <mat-option *ngFor="let tipoCama of dataTipoCama" [value]="tipoCama.id"> 
                    {{tipoCama.descripcion}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p>
    <p>        
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select matNativeControl required>
                <mat-option *ngFor="let estado of dataEstadoCama" [value]="estado.id"> 
                    {{estado.descripcion}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p>
    <button type="submit" [disabled]="!camaForm.valid">Crear</button>
</form>
   