<h2>Cama form</h2>

<form  [formGroup]="camaForm" (ngSubmit)="onSubmit()">  
    <p> 
        <mat-form-field  appearance="standard">
            <mat-label> Id: </mat-label>
            <input matInput formControlName="id" placeholder="ID de la cama">
            <mat-error *ngIf="camaForm.controls.id.touched && camaForm.controls.id.invalid">
                <span *ngIf="camaForm.controls.id.errors.required">No te ovlvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p> 
    <p> 
        <mat-form-field  appearance="standard">
            <mat-label> Decripción: </mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripcion de la cama" >
            <mat-error *ngIf="camaForm.controls.descripcion.touched && camaForm.controls.descripcion.invalid">
                <span *ngIf="camaForm.controls.descripcion.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p>        
        <mat-form-field appearance="fill">
            <mat-label>Tipo cama</mat-label>
            <!--formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
            -->
            <mat-select matNativeControl required formControlName='tipoCama' [value]='camaSelected.tipoCama'>
                <mat-option *ngFor="let tipoCama of dataTipoCama" [value]="tipoCama.descripcion"> 
                    {{tipoCama.descripcion}} 
                </mat-option> 
            </mat-select>            
            <mat-error *ngIf="camaForm.controls.tipoCama.touched && camaForm.controls.tipoCama.invalid">
                <span *ngIf="camaForm.controls.tipoCama.errors.required">No te olvides de elegir el tipo de cama!</span>  
            </mat-error> 
        </mat-form-field>  
    </p>
    <p>        
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select matNativeControl required formControlName='estadoCama'  [value]='camaSelected.estadoCama'>
                <mat-option *ngFor="let estado of dataEstadoCama" [value]="estado.descripcion"> 
                    {{estado.descripcion}} 
                </mat-option> 
            </mat-select>
            <mat-error *ngIf="camaForm.controls.estadoCama.touched && camaForm.controls.estadoCama.invalid">
                <span *ngIf="camaForm.controls.estadoCama.errors.required">No te olvides de elegir cual es el estado de la cama!</span>  
            </mat-error> 
        </mat-form-field>  
    </p> 
    <button mat-raised-button color="primary" type="submit" [disabled]="!camaForm.valid">Crear</button>
</form>
   

{{this.camaSelected.id}}