<app-header></app-header>

<div style="margin-left:20px; text-align: center;">
  <h2 style="margin-top:10px">Productos</h2>

  <button type="button" class="btn btn-info" (click)="addProduct()">Nuevo producto</button>
</div>
<!-- Demo header-->
<section class="pb-5 header text-center">
  <div class="container py-5 text-white">

      <div class="row">
          <div class="col-lg-7 mx-auto">
              <div class="card border-0 shadow">
                  <div class="card-body p-5">

                      <!-- Responsive table -->
                      <div class="table-responsive">
                          <table class="table m-0">
                              <thead>
                                  <tr>
                                      <th scope="col">Sucursal</th>
                                      <th scope="col">Artículo</th>
                                      <th scope="col">Stock</th>
                                      <th scope="col">Activo</th>
                                      <th scope="col">Editar/Eliminar</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let product of items">
                                    <td>
                                      <span>{{branchList(product)}}</span>
                                    </td>
                                    <td>
                                        <span>{{articleList(product)}}</span>
                                    </td>
                                    <td>
                                        <span>{{product.stock}}</span>
                                    </td>
                                    <td>
                                        <span>{{product.isActive}}</span>
                                    </td>
                                    <td>
                                        <!-- Call to action buttons -->
                                        <ul class="list-inline m-0">
                                          <li class="list-inline-item">
                                              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" (click)="updateProduct(product)"><i class="fa fa-edit"></i></button>
                                          </li>
                                          <li class="list-inline-item">
                                              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteProduct(product)"><i class="fa fa-trash"></i></button>
                                          </li>
                                        </ul>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>