<h2 *ngIf="inputType!=2">Agregar {{tipoPersona}}</h2>
<h2 *ngIf="inputType===2">Editar {{tipoPersona}}</h2>

<form  [formGroup]="personForm" (ngSubmit)="onSubmit()" class="mi-form">

    <p>        
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Tipo de persona</mat-label>
            <mat-select matNativeControl disabled [value]="tipoPersona">
                <mat-option value="Paciente"> 
                    Paciente 
                </mat-option> 
            </mat-select>    
        </mat-form-field>
    </p> 
    <p> 
        <mat-form-field  appearance="fill" class="mi-full-width">
            <mat-label> DNI </mat-label>
            <input matInput type="number" formControlName="dni" placeholder="Número de documento" >
            <mat-error *ngIf="personForm.controls.dni.touched && personForm.controls.dni.invalid">
                <span *ngIf="personForm.controls.dni.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>  
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="firstName" placeholder="Nombre(s) de la persona" >
            <mat-error *ngIf="personForm.controls.firstName.touched && personForm.controls.firstName.invalid">
                <span *ngIf="personForm.controls.firstName.errors.required"></span>  
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName" placeholder="Apellido(s) de la persona" >
            <mat-error *ngIf="personForm.controls.lastName.touched && personForm.controls.lastName.invalid">
                <span *ngIf="personForm.controls.lastName.errors.required"></span>  
            </mat-error>
        </mat-form-field>
    </p>
    <p> 
          <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="bornDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </p>
    <p>        
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Género</mat-label>
            <!--formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
            -->
            <mat-select matNativeControl required formControlName='gender' [value]='personSelected.gender'>
                <mat-option *ngFor="let gender of dataGender" [value]="gender.description"> 
                    {{gender.description}} 
                </mat-option> 
            </mat-select>            
            <mat-error *ngIf="personForm.controls.gender.touched && personForm.controls.gender.invalid">
                <span *ngIf="personForm.controls.gender.errors.required">No te olvides de elegir el género de la persona!</span>  
            </mat-error> 
        </mat-form-field>  
    </p>
    <p>
        <mat-form-field  appearance="standard" class="mi-full-width">
            <mat-label> Teléfono: </mat-label>
            <span matPrefix>+54 &nbsp;</span>
            <input type="tel" matInput formControlName="phone" placeholder="0341-444-4444" >
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="personForm.controls.phone.touched && personForm.controls.phone.invalid">
                <span *ngIf="personForm.controls.phone.errors.required">No te olvides de completarlo!</span>  
            </mat-error> 
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Tipo de sangre</mat-label>
            <!--formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor
            -->
            <mat-select matNativeControl required formControlName='bloodType' [value]='personSelected.bloodType'>
                <mat-option *ngFor="let bloodType of dataBloodType" [value]="bloodType.description"> 
                    {{bloodType.description}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p>
    <!-- <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>nurseWorkId?</mat-label>
            <input matInput formControlName="nurseWorkId" placeholder="Enfermero" >  
        </mat-form-field>  
    </p>
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>User?</mat-label> 
            <input matInput formControlName="user" placeholder="Usuario" >  
        </mat-form-field>  
    </p>
    <p> 
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" placeholder="Contraseña" > 
        </mat-form-field>
    </p> -->


      
    <p>
        <mat-form-field appearance="fill" class="mi-full-width">
            <mat-label>Obra social</mat-label>
            <!--formControlName es para asignar al formGroup
                mat-select -> [value] es para presetear un valor
                mat-option -> [value] es el valor del ngFor -->
            <mat-select matNativeControl required formControlName='healthInsuranceId' [value]='personSelected.healthInsuranceId'>
                <mat-option *ngFor="let healthInsurance of dataHealthInsurance" [value]="healthInsurance.id"> 
                    {{healthInsurance.fantasyName}} 
                </mat-option> 
            </mat-select>
        </mat-form-field>  
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!personForm.valid">{{setButtonText()}}</button>
</form>
 