img {
    margin: auto;
    display: block;
    width: 70%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .starDiv {
    align-items: center;
    text-align: center;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .starsContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }