<div class="modal fade background-popup-fade" id="signUpPopup" aria-labelledby="Crear Nueva Cuenta" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Crear Nueva Cuenta
                </h5>
                <button type="button" id="btnCloseSignUpPopup" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-center animate__animated animate__flipInY animate__fast">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Nombre Usuario</label>
                                <input type="text" name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario"
                                    placeholder="Nombre Usuario" class="form-control" required autofocus>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Clave</label>
                                <input type="password" name="clave" [(ngModel)]="usuario.clave" placeholder="Clave"
                                    class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Nombre y Apellido</label>
                                <input type="text" name="nombreApellido" [(ngModel)]="usuario.nombreApellido"
                                    placeholder="Nombre y Apellido" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="Email"
                                    class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Habilidades</label>
                                <textarea name="habilidades" [(ngModel)]="usuario.habilidades" placeholder="Habilidades"
                                    class="form-control" required></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" (click)="signUp()">
                                    Crear Cuenta
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>