<h1 class="bd-title" id="content">About</h1>
          
<p class="bd-lead">La descripción de la empresa es un resumen de los puntos más importantes de la empresa: su historial, el equipo gerencial, dónde se encuentra, qué hace y qué espera lograr, la declaración de la misión y la estructura legal. Generalmente aparece después del resumen ejecutivo en el plan de negocios.</p>

<h2 id="team">Team</h2>

<p>Integrantes <a href="">(Ver más)</a> Un equipo es un grupo de seres humanos que se reúnen y trabajan en conjunto para alcanzar una meta en común. Para esto, el equipo mantiene una cierta organización que le permita conseguir sus objetivos.</p>

<h2 id="history">History</h2>

<p>Disciplina que estudia y expone, de acuerdo con determinados principios y métodos, los acontecimientos y hechos que pertenecen al tiempo pasado y que constituyen el desarrollo de la humanidad desde sus orígenes hasta el momento presente.</p>

<h2 id="get-involved">Get involved</h2>

<p>El Diccionario Clave advierte de que involucrarse e inmiscuirse tienen significados distintos. Inmiscuirse significa 'entrometerse', 'tomar parte en un asunto o ámbito ajeno, especialmente cuando no hay razón o autoridad para ello'. Por el contrario, involucrarse es 'participar en un asunto, comprometiéndose en él'<a href="">Ingresar aquí</a> para más información.</p>
