#acercar:hover {
    transform-origin: top;
    animation: scale 200ms ease-in-out forwards;
  }
  @keyframes scale {
    to {
      transform: scale(1.02);
    }
  }

.card-title{
  text-align: center;
  padding: 0 10px;
  font-size: x-large;
}

.card-content{
  text-align: center;
  font-size: 1rem;

  position: relative;
  bottom: 2em;
}

.card-action{
  text-align: center;
}

.card-image{
  height: 100%;
}
.image{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}