.card{
    
}
.small{
    max-height: 200px
}

.make-bigger {
  transition: 0.5s;
}
.make-bigger:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px #000;
}

.responsive-image {
  min-width: 300px;
  min-height: 90px;
  object-fit: fill;
}

.card-content {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.card-title{
    margin: 20px 0 0 0;
}

