.no-categorias {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}

.col-nro {
  @media (min-width: 576px) {
    width: 15%;
  }
}

.col-cat {
  @media (min-width: 576px) {
    width: 85%;
  }
}

.col-accion {
  display: flex;
}