<div class="card mt-2">
  <div class="card-header"><b>{{ servicio.titulo }}</b></div>
  <div class="card-body service-content">
    <p class="text-muted">
      <b>Categoría</b>: {{ servicio.categoria?.descripcion }}
    </p>

    <p class="text-muted mb-1"><b>Descripción</b>:</p>
    <p class="card-text">
      <small>{{ servicio.descripcion }}</small>
    </p>

    <p class="text-muted">
      <b>Precio</b>: {{ servicio.precio?.moneda?.tag }}&nbsp;{{ servicio.precio?.valor }}
    </p>

    <p class="text-muted">
      <b>Ubicación</b>: {{ servicio.ubicacion }}
    </p>

    <p class="text-muted">
      <b>Fecha de publicación</b>: {{ servicio.fechaHoraPublicacion?.toLocaleDateString() }}
    </p>

    <p id="title-oferente" class="h6"><b>Información del oferente</b></p>

    <div id="perfil-usuario" class="row">
      <div id="imagenes-perfil" class="mx-auto">
        <div class="contenedor-img" *ngIf="servicio.usuario!.fotoPerfil">
          <img id="profileImage" src="{{ cloudinary_url + servicio.usuario!.fotoPerfil }}">
        </div>

        <div class="contenedor-img" *ngIf="!servicio.usuario!.fotoPerfil">
          <div class="profile-img">
            {{ servicio.usuario!.nombreApellido![0] }}
          </div>
        </div>
      </div>

      <div id="info-perfil" class="p-2">
        <p class="text-muted">
          <b>Nombre de Usuario</b>: {{ servicio.usuario?.nombreUsuario }}
        </p>

        <p class="text-muted">
          <b>Nombre y apellido</b>: {{ servicio.usuario?.nombreApellido }}
        </p>

        <p class="text-muted">
          <b>Correo electrónico</b>: {{ servicio.usuario?.email }}
        </p>

        <p class="text-muted">
          <b>Nivel</b>: {{ servicio.usuario?.nivel?.nro }}
        </p>
      </div>
    </div>
  </div>
</div>