<div class="mt-3 pb-3">
  <div class="card mb-4">
    <div class="card-header"><b>{{ servicio.titulo }}</b></div>
    <div class="card-body service-content">
      <p class="text-muted">
        <b>Categoría</b>: {{ servicio.categoria?.descripcion }}
      </p>

      <p class="text-muted mb-1"><b>Descripción</b>:</p>
      <p class="card-text">
        <small>{{ servicio.descripcion }}</small>
      </p>

      <p class="text-muted">
        <b>Precio</b>: {{ servicio.precio?.moneda?.tag }}&nbsp;{{ servicio.precio?.valor }}
      </p>

      <p class="text-muted">
        <b>Ubicación</b>: {{ servicio.ubicacion }}
      </p>

      <p class="text-muted">
        <b>Fecha de publicación</b>: {{ servicio.fechaHoraPublicacion?.toLocaleDateString() }}
      </p>

      <p id="title-oferente" class="h6"><b>Información del oferente</b></p>

      <div id="perfil-usuario" class="row">
        <div id="imagenes-perfil" class="m-auto">
          <div class="contenedor-img" *ngIf="servicio.usuario!.fotoPerfil">
            <img id="profileImage" src="{{ cloudinary_url + servicio.usuario!.fotoPerfil }}">
          </div>

          <div class="contenedor-img" *ngIf="!servicio.usuario!.fotoPerfil">
            <div class="profile-img">
              {{ servicio.usuario!.nombreApellido![0] }}
            </div>
          </div>
        </div>

        <div id="info-perfil" class="p-2">
          <p class="text-muted">
            <b>Nombre de Usuario</b>: {{ servicio.usuario?.nombreUsuario }}
          </p>

          <p class="text-muted">
            <b>Nombre y apellido</b>: {{ servicio.usuario?.nombreApellido }}
          </p>

          <p class="text-muted">
            <b>Correo electrónico</b>: {{ servicio.usuario?.email }}
          </p>

          <p class="text-muted">
            <b>Nivel</b>: {{ servicio.usuario?.nivel?.nro }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-table-contratos *ngIf="authService.loggedIn() && userService.getUsuario()._id !== servicio.usuario!._id"
    [contratos]="contratos" title="Contratos Realizados"
    msgNoContratos="No ha realizado ningún contrato con dicho servicio aún">
  </app-table-contratos>

  <app-table-contratos *ngIf="authService.loggedIn() && userService.getUsuario()._id === servicio.usuario!._id"
    [contratos]="contratos" title="Contratos Recibidos"
    msgNoContratos="No ha recibido ningún contrato por dicho servicio aún">
  </app-table-contratos>
</div>

<app-dialog title="¡Califica tu experiencia!"
            message="¡Esperamos que todo haya salido perfecto con el servicio que contrataste! 
            ¿Tenés un minuto para calificar tu experiencia con el oferente?"></app-dialog>

<app-dialog idDialog="reviewDialog"
            title="Califica al oferente"
            message="Asignale una calificación entre 1 y 5 estrellas, dependiendo de cómo fue tu experiencia y la calidad del servicio."
            [isReview]=true
            [hasCancelButton]=false
            [disableOkButton]=true
            [isReviewStep]=true></app-dialog>