.card {
  margin: auto;
  width: fit-content;
}

#title-oferente {
  text-decoration: underline;
}

#profileImage {
  width: 200px;
  height: 200px;
  border-radius: 180px;
}

.profile-img {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: rgb(240, 240, 240);
}

.no-contratos {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
}

table {
  white-space: nowrap;

  .col-fecha-cont {
    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .col-fecha-canc {
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  
  .col-accion {
    display: flex;
  }

  button {
    display: flex;
    align-items: center;
  }
}

.alert {
  border-radius: 10px;
}

.titulo-contratos {
  text-align: center;
  text-decoration: underline;
}