<app-header></app-header>

<section class="pb-5 header text-center">
  <div class="container py-5  ">
    <div class="d-flex flex-row-reverse">
      <button class="btn btn-outline-primary" routerLink="/notes"> <i class="fa fa-arrow-left"></i> Volver</button>
    </div>
  
      <div class="row">
          <div class="col-lg-7 mx-auto">
              <div class="card border-0 shadow">
                  <h5 class="card-header text-center"><span *ngIf=isEdit>Editar</span><span *ngIf=!isEdit>Crear</span> Nota</h5>
                  <div class="card-body p-5">

                 <form novalidate [formGroup]="noteForm" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Ingrese el nombre de la nota">
                  </div>
                  <br>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">{{isEdit ? 'Actualizar' : 'Agregar'}}</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>  