<app-header></app-header>

<section class="pb-5 header text-center">
  <div class="container py-5 text-white">

      <div class="row">
          <div class="col-lg-7 mx-auto">
              <div class="card border-0 shadow">
                  <div class="card-body p-5">

                 <form novalidate [formGroup]="roleForm" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Ingrese el nombre del rol">
                  </div>                  
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="description" placeholder="Ingrese una descripción">
                  </div>                  

                  <select multiple formControlName="permissions" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Seleccione los permisos de usuario</option>
                    <option value="crea">Crea</option>
                    <option value="edita">Edita</option>
                    <option value="elimina">Elimina</option>
                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary">{{isEdit ? 'Actualizar' : 'Agregar'}}</button>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>