<div class="container">
  <h4 class="center-align titulo" style="margin-top: 10px">CLIENTS</h4>
  <a class="btn-floating btn-medium waves-effect waves-light red move-top-10" routerLink="/clients/addClient" routerLinkActive="active">
    <i class="material-icons">add</i>
  </a>
  <table class="striped">
        <thead>
          <tr>
              <th>Dni</th>
              <th>Name and Surname</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.dni }}</td>
            <td>{{ client.nombre }}, {{ client.apellido }}</td>
            <td>{{ client.direccion }}</td>
            <td>{{ client.telefono }}</td>
            <td>
              <a [routerLink]="['/clients/edit-client', client.id_cliente]" style="cursor: pointer"><i class="material-icons">edit</i></a>
              <a (click)="deleteClient(client.id_cliente)" style="cursor: pointer"><i class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>