<div class="container-fluid p-0 mb-3">
  <div class="card">
    <div class="card-header">{{ cardData.titulo }}</div>
    <div class="card-body">
      <i class="fas fa-user text-muted"></i
      ><a class="ml-2" href="">{{ cardData.usuario.nombreUsuario }}</a>

      <p class="text-muted">Categoría:</p>
      <a href="">{{ cardData.categoria.descripcion }}</a>

      <p class="text-muted">Descripción:</p>
      <p class="card-text">
        <small>{{ cardData.descripcion }}</small>
      </p>
      <a
        href="#"
        class="btn btn-success btn-block"
        (click)="mostrarDetalle(cardData._id)"
      >
        <i class="fas fa-search-plus"></i> Ver más
      </a>
    </div>
  </div>
</div>
