<div class="container-fluid p-0 mb-3">
  <div class="card">
    <div class="card-header">
      Clases de matemática
    </div>
    <div class="card-body">
      <i class="fas fa-user text-muted"></i><a class="ml-2" href="">Juan Perez</a>
      <p>
        Categoría:<a class="ml-2" href="">Clases personalizadas</a>
      </p>

      <p class="card-text"><small>Estudiante avanzado de ingeniería ofrece clases particulares de matemática nivel primario, secundario y universitario</small></p>
      <a href="#" class="btn btn-success btn-block">
        <i class="fas fa-search-plus"></i>  Ver más
      </a>
    </div>
  </div>
</div>
