<!-- Header de la App -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/Logo.png" alt="" width="30" height="24" class="d-inline-block align-top">
            Perfume Online
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item" *ngIf="currentUser.client">
            <a class="nav-link" aria-current="page" (click)="createSale()">Tienda</a>
          </li>

        <li class="nav-item dropdown justify-content-right" *ngIf="currentUser.employee">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a *ngIf="permissions.indexOf('article') !== -1" class="dropdown-item" href="/articles">Articulos</a></li>
            <li><a *ngIf="permissions.indexOf('product') !== -1" class="dropdown-item" href="/product">Productos</a></li>
            <li><a *ngIf="permissions.indexOf('note') !== -1" class="dropdown-item" href="/notes">Notas</a></li>
            <li><a *ngIf="permissions.indexOf('branch') !== -1" class="dropdown-item" href="/branches">Sucursales</a></li>
            <li><a *ngIf="permissions.indexOf('role') !== -1" class="dropdown-item" href="/roles">Roles</a></li>
            <li><a *ngIf="permissions.indexOf('user') !== -1" class="dropdown-item" href="/users">Usuarios</a></li>

          </ul>
        </li>
        <form class="d-flex" *ngIf="href.includes('market')">
          <input #searchInput
          (input)="onTxtBoxChanged(searchInput.value)"
          class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
          <button
          (click)="onSearch(searchInput.value)"
          class="btn btn-success" type="submit">Search</button>
        </form>
        <li class="nav-item dropdown justify-content-right" *ngIf="currentUser.username.length !== 0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{currentUser.names}} {{currentUser.lastNames}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
            <li><a class="dropdown-item" *ngIf = "currentUser.client" href="/buys">Mis Compras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" (click)="logoutUser()" href="#">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
