<app-emergency-person
  (personSelect)="onPersonHealthInsuranceSelect($event)">
  
</app-emergency-person>
  <br>
  <br>
{{hospitals | json}}
<form *ngIf="dataAtentionLevel" [formGroup]="emergencyForm" (ngSubmit)="getClosestHospitals()" class="mi-form">
  <p>        
    <mat-form-field appearance="fill" class="mi-full-width">
        <mat-label>Nivel de atención</mat-label>
        <!-- formControlName es para asignar al formGroup
            mat-select -> [value] es para presetear un valor
            mat-option -> [value] es el valor del ngFor -->
        
        <mat-select matNativeControl required formControlName='atentionLevel'>
            <mat-option *ngFor="let atentionLevel of dataAtentionLevel" [value]="atentionLevel.description"> 
                {{atentionLevel.description}} 
            </mat-option> 
        </mat-select>
    </mat-form-field>  
</p> 
  <button mat-raised-button color="primary" type="submit" [disabled]="!emergencyForm.valid"> Buscar hospitales </button>
</form> 


<!-- (mapClick)="click($event)" -->
<google-map  
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="myPosition"
  [options]="options" >
    <map-marker
      #markerElem
      *ngFor="let myMark of myMarkers"
      [position]="myMark.position"
      [label]="myMark.title"
      [title]="myMark.label"
      [options]="myMark.options">
    </map-marker> 
    <map-marker
      #markerElem
      *ngFor="let efector of hospitalData"
      [position]="efector.locationGoogleMap"
      [label]="efector.name"
      [title]="efector.name"   
      [options]="efector.options"
      (mapClick)="openInfo(markerElem, efector.info)">
    </map-marker> 
  <map-info-window>
    {{ infoContent }}
  </map-info-window>
</google-map>
 
<button (click)="logCenter()" mat-raised-button color="info">Mostrar lat y long del centro del mapa</button>
<button (click)="addMarkerCurrentPosition()" mat-raised-button color="primary" >
  <span class="material-icons">person_pin_circle</span>
  Mi ubicación
</button>
 
<button (click)="calculateDistancia()">Calcular distancia con Google</button>
<button (click)="getNearestHospital()" mat-raised-button color="primary">
  <span class="material-icons">location_searching</span> 
  Efector más cercano
</button>
 

<!-- <img src="..\..\..\..\..\assets\img\cab1.png"> -->


<mat-card class="example-card" *ngIf="this.hospitalClosest" >
  <mat-card-header> 
    <mat-card-title>Efector más cercano: {{this.hospitalClosest.name}}</mat-card-title>
    <mat-card-subtitle>  
      <span class="material-icons">pin_drop</span>
      {{this.hospitalClosest.address}}, {{this.hospitalClosest.locality}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>  
      Cantidad de camas
      <mat-icon matBadge="15" matBadgeColor="warn">single_bed</mat-icon>  
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button color="warn">Tomar cama e ir!</button>
  </mat-card-actions>
</mat-card>
