<nav>
    <div class="nav-wrapper container unselectable">

        <div [routerLink]="['rubros']" class="logo"></div>

        <div class="search">
            <input #input type="text" placeholder={{nav_string}} style="width: 85%;" (keyup.enter)="search(input)">
            <i class="fa fa-search fa-1x" (click)="search(input)" style="cursor: pointer;"></i>
        </div>

        <div>
            <ul>
                <li>
                    <a [routerLink]="['rubros']"><i class="material-icons right carrito">view_comfy</i>Productos</a>
                </li>

                <li>
                    <a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">person</i>Mi
                        perfil</a>
                </li>

                <li>
                    <a [routerLink]="['carrito']"><i class="material-icons right carrito">shopping_cart</i>Carrito</a>
                    <div class="chip">
                        {{itemsOnStorage()}}
                    </div>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- dropdown structure-->

<ul id='dropdown1' class='dropdown-content'>
    <div *ngIf="loggedIn()">
        <li><a [routerLink]="['/profile']">
                <i class="material-icons">edit</i>Editar perfil</a>
        </li>

        <li><a [routerLink]="['/rubros/empresas' , userService.getLocalUser()._id ]"> <i class="fa fa-registered center"
                    aria-hidden="true"></i>Mis productos</a> </li>

        <li><a [routerLink]="['/publicar']">
                <i class="material-icons">add_circle_outline</i>cargar nuevo
                producto</a>
        </li>
        <li><a [routerLink]="['/compraventa', ventas]">
                <i class="material-icons">attach_money</i>Mis ventas</a>
        </li>
        <li><a [routerLink]="['/compraventa', compras]"> <i class="fa fa-credit-card center" aria-hidden="true"></i>Mis
                compras</a> </li>


        <li><a (click)="closeSession()">
                <i class="material-icons">close</i>Cerrar sesion</a>
        </li>
    </div>

    <div *ngIf="!loggedIn()">
        <li><a [routerLink]="['/login']"><i class="material-icons">perm_identity</i>Iniciar sesion</a></li>
    </div>

</ul>