<h2>Emergencia</h2>

<form [formGroup]="accidentOrDiseasesForm" (ngSubmit)="getAllHospitalsByAccidentOrDiseasesId()" class="mi-form">       
    <mat-form-field appearance="fill" class="mi-full-width">
        <mat-label>Accidente o enfermedad</mat-label>
        <!-- formControlName es para asignar al formGroup
            mat-select -> [value] es para presetear un valor
            mat-option -> [value] es el valor del ngFor -->
        
        <mat-select matNativeControl required formControlName='accidentOrDiseases'>
            <mat-option *ngFor="let accidentOrDiseases of dataAccidentOrDiseases" [value]="accidentOrDiseases.id"> 
                {{accidentOrDiseases.description}} 
            </mat-option> 
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!accidentOrDiseasesForm.valid"> 
        Buscar hospitales 
        <mat-icon>local_hospital</mat-icon> 
    </button>
</form> 

37888777
<app-emergency-person
  (personSelected)="onPersonHealthInsuranceSelected($event)">
</app-emergency-person>

<app-map
    [hospitalData]="hospitalData"
    (hospitalSelected)="onHospitalSelected($event)"
    (position)="onPositionUpdated($event)">
</app-map>

<!-- 
<app-emergency-bed
    (bedSelected) = "onBedSelected($event)"
    [idHospital] = "hospitalSelected"
>
</app-emergency-bed> -->

<mat-card class="example-card" *ngIf="this.hospitalSelected" >
    <mat-card-header> 
      <mat-card-title>
        Efector más cercano: 
        <br>
        <mat-icon>local_hospital</mat-icon>
        <b>{{this.hospitalSelected.name}}</b>        
      </mat-card-title>
      <mat-card-subtitle>  
        <span class="material-icons">pin_drop</span>
        {{this.hospitalSelected.address}}, {{this.hospitalSelected.locality}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>  
        Cantidad de camas
        <mat-icon matBadge="{{this.hospitalSelected.freeBeds}}" matBadgeColor="warn">single_bed</mat-icon>  
    </mat-card-content> 
</mat-card> 


<app-cama-list
    [allowSelect] = "true"
    [dataBed]="this.dataBeds"
    (bedSelected)="onBedSelected($event)"
    *ngIf="this.dataBeds">
</app-cama-list>  

<form [formGroup]="emergencyForm" (ngSubmit)="onCreateEmergency()" class="mi-form" *ngIf="this.hospitalSelected" >       
    <button mat-raised-button color="warn" type="submit" [disabled]="!emergencyForm.valid">
       Tomar cama e ir! 
    </button>
</form>


{{ emergencyForm.value | json }}